{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "@components"
          },
          {
            "rootPathSuffix": "./src/",
            "rootPathPrefix": "@"
          }
        ]
      }
    ]
  ]
}
